.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* nav related style */
nav {
  /* background-color: aquamarine; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: auto;
}
.nav-item {
  display: flex;
  list-style: none;
  gap: 48px;
}
.nav-item a {
  text-decoration: none;
  /* color: #000; */
}
.nav-item-1 {
  color: rgb(3, 3, 3);
  font-weight: 700;
}
.nav-item-2 {
  color: #8987a1;
}
.nav-item-3 {
  color: #8987a1;
}
.nav-item-4 {
  color: black;
}

/* hero-section-related-style */
.hero-section {
  /* background-color: cadetblue; */
  max-width: 1240px;
  flex-direction: row-reverse;
  margin: auto;
  margin-top: 120px;
  display: flex;
}
.titls {
  /* background-color: chartreuse; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.hero-title {
  font-size: 4rem;
  font-weight: bold;
}
.frish-flowers {
  color: #e95a08;
  /* color: #5eff00; */
}
.sub-title {
  font-size: 1.375rem;
  color: rgba(0, 0, 0, 0.5);
}
.hero-img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: auto;

  /* background-color: #e95a08; */
}
/* card related style */
.card-section {
  max-width: 1240px;
  margin: auto;
  margin-top: 120px;
}
.section-title {
  font-size: 3.1rem;
  font-weight: bold;
  color: black;
  text-align: center;
}
.our {
  color: #e95a08;
}
.section-sub-title {
  color: #8987a1;
  font-size: 1.3rem;
  text-align: center;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 45px;
  padding: 0;
  justify-content: space-between;
}
.card-name {
  font-size: 1.3rem;
  text-align: center;
}
.card-price {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0;
  margin-bottom: 10px;
  margin-top: 0;
  text-align: center;
}
.primary-btn {
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: #e95a08;
  padding: 19px 80px;
  border: none;
  margin-bottom: 10px;
}
.card-body {
  text-align: center;
  width: 100%;
  height: auto;
}
/* flower plants section related style */
.flower-plants-section {
  max-width: 1240px;
  margin: auto;
}
.shop-text-title {
  font-size: 3.1rem;
  font-weight: bold;
}
.shop-sub-list {
  font-size: 1.3rem;
  margin-bottom: 30px;
  color: #8987a1;
}
.shop-text {
  gap: 20px;
}
.shop-container {
  display: flex;
  margin-top: 200px;
  gap: 60px;
}

/* Mobile responsive */
@media (max-width: 576px) {
  /* body {
    background-color: brown;
  } */
  .not-show-mobile {
    display: none;
  }

  /* hero section  responsive */

  .hero-section {
    flex-direction: row-reverse;
    margin: auto;
    display: block;
  }

  .titls {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .hero-title {
    font-size: 2rem;
    font-weight: bold;
  }
  .frish-flowers {
    color: #e95a08;
  }
  .sub-title {
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
  }
  .hero-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .primary-btn {
    padding: 12px 24px;
    font-size: 0.9rem;
  }
  .card-body img {
    height: auto !important;
    width: 100%;
  }
  .flower-plants-section {
    margin: auto;
    display: flex;
    flex-direction: column;

    width: 100%;
    height: auto;
  }
  .flower-plants-section img {
    width: 100%;
    height: auto;
  }
  .shop-container {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    gap: 60px;
  }
}
