.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* nav related style */
nav {
  /* background-color: aquamarine; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: auto;
}
.nav-item {
  display: flex;
  list-style: none;
  gap: 48px;
}
.nav-item a {
  text-decoration: none;
  /* color: #000; */
}
.nav-item-1 {
  color: rgb(3, 3, 3);
  font-weight: 700;
}
.nav-item-2 {
  color: #8987a1;
}
.nav-item-3 {
  color: #8987a1;
}
.nav-item-4 {
  color: black;
}

/* hero-section-related-style */
.hero-section {
  /* background-color: cadetblue; */
  max-width: 1240px;
  flex-direction: row-reverse;
  margin: auto;
  margin-top: 120px;
  display: flex;
}
.titls {
  /* background-color: chartreuse; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.hero-title {
  font-size: 4rem;
  font-weight: bold;
}
.frish-flowers {
  color: #e95a08;
  /* color: #5eff00; */
}
.sub-title {
  font-size: 1.375rem;
  color: rgba(0, 0, 0, 0.5);
}
.hero-img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: auto;

  /* background-color: #e95a08; */
}
/* card related style */
.card-section {
  max-width: 1240px;
  margin: auto;
  margin-top: 120px;
}
.section-title {
  font-size: 3.1rem;
  font-weight: bold;
  color: black;
  text-align: center;
}
.our {
  color: #e95a08;
}
.section-sub-title {
  color: #8987a1;
  font-size: 1.3rem;
  text-align: center;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 45px;
  padding: 0;
  justify-content: space-between;
}
.card-name {
  font-size: 1.3rem;
  text-align: center;
}
.card-price {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0;
  margin-bottom: 10px;
  margin-top: 0;
  text-align: center;
}
.primary-btn {
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: #e95a08;
  padding: 19px 80px;
  border: none;
  margin-bottom: 10px;
}
.card-body {
  text-align: center;
  width: 100%;
  height: auto;
}
/* flower plants section related style */
.flower-plants-section {
  max-width: 1240px;
  margin: auto;
}
.shop-text-title {
  font-size: 3.1rem;
  font-weight: bold;
}
.shop-sub-list {
  font-size: 1.3rem;
  margin-bottom: 30px;
  color: #8987a1;
}
.shop-text {
  gap: 20px;
}
.shop-container {
  display: flex;
  margin-top: 200px;
  gap: 60px;
}
/* deals section related style  */
.deals-section {
  text-align: center;
  margin-top: 120px;
}

/* subscribe-section related style*/
.subscribe-section {
  background: url(../assets/news-letter-bg.png) no-repeat center center/cover;
  padding: 80px 20px;
  text-align: center;
  color: white;
  position: relative;
  margin-top: 100px;
}
.subscribe-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.form-container {
  display: flex;
  max-width: 500px;
  margin: 0 auto;
  overflow: hidden;
}
.form-container input[type="email"] {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: none;
  outline: none;
}
.form-container button {
  padding: 8px 20px;
  background-color: #e95a08;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

/* footer section related style*/
.footer-section {
  display: flex;
  justify-content: space-between;
  padding: 50px 150px;
  gap: 20px;
}
.footer-1 {
  width: 30%;
}
.footer-1 p {
  color: rgba(107, 114, 128, 1);
  font-size: 1.3rem;
}
.footer-2 {
  width: 20%;
}
.footer-2 ul {
  list-style: none;
  gap: 10px;
  color: rgba(107, 114, 128, 1);
}
.footer-2 ul > li {
  margin-bottom: 20px;
}
.footer-3 {
  width: 20%;
}
.footer-3 ul {
  list-style: none;
  gap: 10px;
  color: rgba(107, 114, 128, 1);
}
.footer-3 ul > li {
  margin-bottom: 20px;
}
.footer-4 {
  /* width: 30%; */

  align-items: center;
  justify-content: center;
}
.footer-4 img {
  width: 10%;
  gap: 10px;
}
/* /deals section */
.deals-section {
  margin-bottom: 120px;
}
.deals-section h2 {
  font-size: 3.1rem;
  font-weight: bold;
}
.highlight {
  color: #e95a08;
}
.deals-section p {
  font-size: 1.3rem;
  color: #8987a1;
}
/* deals section container */
.deals-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.deals-container img {
  border-radius: 14px;
}

#image-2 {
  margin-top: 25px;
}
.right-side {
  position: relative;
}
.right-side-cotent {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 3;
}
.right-side-cotent h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
.right-side-cotent a {
  color: white;
  font-size: 1.75rem;
  font-weight: 600;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 98%;
  width: 100%;
  border-radius: 14px;
  background-color: #0a0a0a79;
  z-index: 2;
}
.left-img-1 {
  position: relative;
}
.left-side-cotent-1 {
  position: absolute;
  padding-right: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 3;
}
.left-side-cotent-1 a {
  color: white;
}
.overlay-1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 99%;
  width: 82%;
  border-radius: 14px;
  background-color: #0a0a0a79;
  z-index: 2;
}
.left-img-2 {
  position: relative;
}
.left-side-cotent-2 {
  position: absolute;
  padding-right: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(255, 255, 255);
  z-index: 3;
}
.left-side-cotent-2 a {
  color: white;
}

.overlay-2 {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 24px;
  height: 88%;
  width: 82%;
  border-radius: 14px;
  background-color: #0a0a0a79;
  z-index: 2;
}

/* Mobile responsive */
@media (max-width: 576px) {
  .not-show-mobile {
    display: none;
  }

  /* hero section  responsive */

  .hero-section {
    flex-direction: row-reverse;
    margin: auto;
    display: block;
  }

  .titls {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .hero-title {
    font-size: 2rem;
    font-weight: bold;
  }
  .frish-flowers {
    color: #e95a08;
  }
  .sub-title {
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
  }
  .hero-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .primary-btn {
    padding: 12px 24px;
    font-size: 0.9rem;
  }
  .card-body img {
    height: auto !important;
    width: 100%;
  }
  .flower-plants-section {
    margin: auto;
    display: flex;
    flex-direction: column;

    width: 100%;
    height: auto;
  }
  .flower-plants-section img {
    width: 100%;
    height: auto;
  }
  .shop-container {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    gap: 60px;
  }
  /* subscribe-section */
  .subscribe-section h2 {
    font-size: 1.5rem;
  }

  .form-container button {
    margin-top: 10px;
  }
  /* footer section */
  .footer-section {
    flex-direction: column;
    justify-content: flex-start;

    text-align: start;
  }
  /* deals section */
  .deals-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 10px;
  }
  /* grid-template-columns: ; */
  .left-side,
  .right-side {
    display: flex;
    flex-direction: column;
  }

  .left-img-1,
  .left-img-2,
  .right-side {
    position: relative;
  }
  .left-img-1,
  .left-img-2 {
    margin-bottom: 25px;
  }

  .deals-container img {
    width: 100%;
    /* height: 100%; */
    height: auto;
    border-radius: 14px;
    display: block;
  }

  .overlay,
  .overlay-1,
  .overlay-2 {
    width: 100%;
    height: 100%;
    border-radius: 14px;
    background-color: #0a0a0a79;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    margin-top: 0;
  }

  .left-side-cotent-1,
  .left-side-cotent-2,
  .right-side-cotent {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0 10px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 3;
  }

  .left-side-cotent-1 h2,
  .left-side-cotent-2 h2,
  .right-side-cotent h2 {
    font-size: 1.25rem;
    margin-bottom: 8px;
  }

  .left-side-cotent-1 a,
  .left-side-cotent-2 a,
  .right-side-cotent a {
    font-size: 1rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
  }

  #image-2 {
    margin-top: 0;
  }
}
@media (max-width: 345px) {
  .form-container {
    flex-direction: column;
  }
}
